::deep h1{
    color: green;
    text-align: center;
}

::deep h2 {
    color: blue;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #212127;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

::deep .custom-spinner{
    border-color: chartreuse;
}

::deep .user-name {
    font-weight: bold;
    color: darkgreen;
}

::deep .timestamp {
    color: gray;
    margin-right: 5px;
}

::deep .message-input-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

::deep .message-textarea {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    resize: none; /* Evita que el textarea se redimensione */
    height: 50px; /* Altura fija */
}

::deep .file-field {
    margin-right: 10px;
}

::deep .chat-file {
    position: relative;
}

::deep .file-input {
    display: block;
}

::deep .send-button {
    padding: 10px 15px;
    background-color: #007bff; /* Cambia el color según tu tema */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

::deep .send-button:hover {
        background-color: #0056b3; /* Color al pasar el mouse */
}

::deep user-label{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 5px;
}

::deep .message-list {
    list-style: none;
}

::deep .cards-grid{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

::deep .card {
    position: inherit; /* Puedes cambiar 'inherit' por 'relative', 'absolute', etc. */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* Ajuste de colores */
    background-color: #f8f9fa; /* Cambia el fondo a un tono más claro */
    background-clip: border-box;
    /* Bordes */
    border: 2px solid rgba(0, 0, 0, 0.2); /* Un borde más grueso y menos opaco */
    border-radius: 0.5rem; /* Aumenta el redondeo de las esquinas */
    /* Opcional: Agregar sombra */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Una sombra suave */
}

    /* Ejemplo para cambiar solo las propiedades específicas */
::deep .card:hover {
    border-color: #007bff; /* Cambia el color del borde cuando se hace hover */
    background-color: #e9ecef; /* Cambia el fondo al hacer hover */
}

::deep .create-group {
    display: grid;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

::deep .inter-message {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

::deep .not-found {
    color: blue;
    text-align: center;
}

@media(max-width:900px) {
    header {
        padding: 0px 30px;
    }

    ::deep .cards-grid {
        grid-template-columns: repeat(2, 0fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media(max-width:600px) {
    ::deep .cards-grid {
        grid-template-columns: 0fr;
    }

}

