::deep * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.chat-logo {
    font-size: 28px;
    font-weight: bold;
    color: #ffffff;
}

.bars{
    display: none;
}

.navbar-layout ul{
    display: flex;
}

.navbar-layout ::deep ul li a{
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.navbar-layout ::deep ul li a:hover {
    color: #212127;
    background-color: #ffd800;
}

    .navbar-layout ::deep ul li a.chat-active {
        color: #212127;
        background-color: #ffd800;
    }

@media(max-width:900px) {
    .bars {
        display: block;
        cursor: pointer;
    }

    .bars .line {
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0px;
    }

    .navbar-layout {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #2e2f34;
        transition: 0.5s;
        overflow: hidden;
    }

    .navbar-layout ::deep ul li a:hover {
        color: #212127;
        background-color: #ffd800;
    }

    .navbar-layout.chat-active {
        height: 450px;
    }

    .navbar-layout ::deep ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .navbar-layout.chat-active ::deep ul {
        opacity: 1;
    }
}
