@page "/chat"

<h3>ChatPage</h3>

<ul>
    @foreach (var message in chatHubService.Messages)
    {
        <li>
            @message.User: @message.Text
            @if (!string.IsNullOrEmpty(message.MediaUrl))
            {
                <img src="@message.MediaUrl" alt="Image" style="max-width: 100px;" />
            }
        </li>
    }
</ul>

<div class="input-field col s12">
    <InputText @bind-Value="ChatMedia.User" id="user" type="text"></InputText>
    <label for="user">User</label>
</div>
<div class="input-field col s12">
    <InputText @bind-Value="ChatMedia.Text" id="text"></InputText>
    <label for="text">Text</label>
</div>
<div class="input-field col s12">
    <InputFile OnChange="HandleSelected"></InputFile>
</div>
<div class="input-field col s12">
    <button @onclick="ClicButton">Send</button>
</div>
