@layout ClientChat.Components.Layout.HomeLayout

@attribute [Authorize]


    <h1>User Groups</h1>

    @if (isloading)
    {
        <div>
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span class="visually-hidden" role="status">Loading...</span>
            </button>
        </div>
    }
    else if (userChat == null || userChat.Chats == null || !userChat.Chats.Any())
    {
        <p>No chats available.</p>
    }
    else
    {
        <div class="cards-grid">
            @foreach (var chat in userChat.Chats)
            {
                <div class="card" style="width: 18rem;">
                    <img src="/favicon.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@chat.ChatName</h5>
                                <p class="card-text">@chat.ChatTypeId</p>
                                <button @onclick="() => SelectChat(chat.ChatId)">Go somewhere</button>
                            </div>
                </div>
            }
        </div>
   
    }
