@page "/register"
@rendermode InteractiveServer
<form>
    <EditForm Model="Register" OnValidSubmit="RegisterClicked">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label for="firstname">First Name</label>
            <InputText @bind-Value="Register.FirstName" id="firstname" type="text" class="form-control" placeholder="First Name"></InputText>
        </div>
        <br />
        <div class="form-group">
            <label for="lastname">Last Name</label>
            <InputText @bind-Value="Register.LastName" id="lastname" type="text" class="form-control" placeholder="Last Name"></InputText>
        </div>
        <br />
        <div class="form-group">
            <label for="nickname">NickName</label>
            <InputText @bind-Value="Register.Nickname" id="nickname" type="text" class="form-control" placeholder="Nickname"></InputText>
        </div>
        <br />
        <div class="form-group">
            <label for="dob">Date of Birth</label>
            <InputDate @bind-Value="Register.DOB" id="dob" class="form-control"></InputDate>
        </div>
        <br />
        <div class="form-group">
            <label for="profilepicture">Profile Photo</label>
            <InputFile id="profilepicture" type="file" class="form-control" OnChange="HandleSelected"></InputFile>
        </div>
        <br />
        <div class="form-group">
            <label for="email">Email</label>
            <InputText @bind-Value="Register.Email" id="email" type="email" class="form-control" placeholder="Email"></InputText>
        </div>
        <br />
        <div class="form-group">
            <label for="password">Password</label>
            <InputText @bind-Value="Register.Password" id="password" type="password" class="form-control" placeholder="Password"></InputText>
        </div>
        <br />
        <div class="form-group">
            <label for="confirmpassword">Confirm Password</label>
            <InputText @bind-Value="Register.ConfirmPassword" id="confirmpassword" type="password" class="form-control" placeholder="Confirm Password"></InputText>
        </div>
        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <ValidationSummary />
    </EditForm>
</form>

@code {

}
